/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
.idea
package-lock.json
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/dist
/build
/lib
/lib-es5
/lib-commonjs
/lib-amd
/lib-systemjs
/lib-umd
/lib-es2015