@import "tailwindcss";
@import "fumadocs-ui/css/style.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}